<form class="form " [formGroup]="form" (ngSubmit)="onSubmit()">
<div class="card text-white bg-dark mb-2  mt-3 mx-auto" style="max-width: 35rem;">
    <div class="card-header"><h2>Login</h2></div>
    
        <div class="card-body px-5 mb-2">
            
                <div class="form-group">
                    <label for="" class="form-label">Email : </label>
                    <input type="text" class="form-control" formControlName="email" maxlength="30">
                    <div class="help-block text-danger" *ngIf="form.get('email')?.touched && form.get('email')?.invalid ">
                        <span *ngIf="form.value.email==''">Please Enter Email</span>
                        <span *ngIf=" form.get('email')?.errors?.['pattern'] && form.get('email')?.dirty">Please Enter Valid Email<br /></span>
                        <span *ngIf=" form.get('email')?.errors?.['minlength'] && form.get('email')?.dirty">Below 6 characters is not a valid email<br /></span>
                        <span *ngIf=" form.get('email')?.errors?.['maxlength'] && form.get('email')?.dirty">Above 30 characters is not allowed</span>
                    </div>
                </div>   
                <div class="form-group">
                    <label for="" class="form-label">Password : </label>
                    <input type="password" class="form-control" formControlName="password" maxlength="10">
                    <div class="help-block text-danger" *ngIf="form.get('password')?.touched && form.get('password')?.invalid ">
                        <span *ngIf="form.value.password==''">Please Enter Password<br /></span>
                        <span *ngIf="form.get('password')?.errors?.['minlength']  && form.get('password')?.dirty">Password must be  6 characters or above</span>
                        <span *ngIf="form.get('password')?.errors?.['maxlength']  && form.get('password')?.dirty">Password must be below 10 characters</span>
                    </div>
                </div>                 
            
        </div>
        
        <div class="footer px-5 pt-2 pb-2 text-end">
            <button class="btn btn-secondary btn-lg" type="submit" [disabled]="form.invalid">Enter</button>
        </div>
    
  </div>
</form>