.navbar-nav {
    margin-left: auto;
}
body {
    margin: 20px;
}
#topheader .navbar-nav li > a {
    text-transform: capitalize;
    color: rgba(185, 179, 179, 0.589);
    -webkit-transition: background-color .2s, color .2s;
    transition: background-color .2s, color .2s;
}
#topheader .navbar-nav li > a:hover, 
#topheader .navbar-nav li > a:focus {
    background-color: #005596;
    color: #fff;
}
#topheader .navbar-nav li.active > a {
    background-color: #64686b;
    color: white;
}