<div class="elements">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <h2 class="text-3xl">Placeholder Component</h2>
            <hr>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12">

            <br>
            <div class="rounded-md p-4 max-w-sm w-full ">
                <div class="animate-pulse flex space-x-4">
                  <div class="square  rounded bg-gray-700 h-10 w-10"></div>
                  <div class="flex-1 space-y-6 py-1">
                    <div class="h-2 bg-gray-700 rounded"></div>
                    <div class="space-y-3">
                      <div class="grid grid-cols-3 gap-4">
                        <div class="h-2 bg-gray-700 rounded col-span-2"></div>
                        <div class="h-2 bg-gray-700 rounded col-span-1"></div>
                      </div>
                      <div class="h-2 bg-gray-700 rounded"></div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12">
          <h2 class="text-2xl">Segmant Component</h2>
          <hr>
          <br>
        </div>

        <div class="col-md-12 col-lg-12 col-sm-12">
          <div class="segment">
            <img src="../../assets/pdf.png" width="100px"><br>
            <p><b>No documents are listed for this customer</b></p><br>
            <button class="btn btn-primary">Add Document</button>
          </div>
        </div>
    </div>
</div>