<div class="project-section">
    <form class="form " [formGroup]="projectForm" (ngSubmit)="projectSubmit()">
        <div class="card text-white bg-info mb-2  mt-3 mx-auto" style="max-width: 35rem;">
            <div class="card-header"><h2>Project Details</h2></div>            
                <div class="card-body px-5 mb-2">                    
                        <div class="form-group">
                            <label for="" class="form-label">Project Name : </label>
                            <input type="text" class="form-control" formControlName="project_Name">
                            <div class="help-block text-danger" *ngIf="projectForm.get('project_Name')?.invalid && projectForm.get('project_Name')?.touched" >
                                <span *ngIf="projectForm.get('project_Name')?.errors?.['required']">Please Enter Project Name<br /></span>
                                <span *ngIf="projectForm.get('project_Name')?.errors?.['minlength']">Below 3 characters is not allowed<br /></span>
                                <span *ngIf="projectForm.get('project_Name')?.errors?.['maxlength']">Above 100 characters is not allowed<br /></span>
                                <span *ngIf="projectForm.get('project_Name')?.errors?.['pattern']">Please Start with Alphabet character<br /></span>
                            </div>
                        </div>   
                        <div class="form-group">
                            <label for="" class="form-label">project Details : </label>
                            <textarea class="form-control" formControlName="project_Details" cols="30" rows="5"></textarea>
                            <div class="help-block text-danger" *ngIf="projectForm.get('project_Details')?.invalid && projectForm.get('project_Details')?.touched">
                                <span *ngIf="projectForm.get('project_Details')?.errors?.['required']">Please Enter Project Name<br /></span>
                                <span *ngIf="projectForm.get('project_Details')?.errors?.['minlength']">Below 2 characters is not allowed<br /></span>
                                <span *ngIf="projectForm.get('project_Details')?.errors?.['maxlength']">Above 100 characters is not allowed<br /></span>
                            </div>
                        </div>                        
                </div>                
                <div class="footer px-5 pt-2 pb-2 text-end">
                    <button type="button" class="btn btn-secondary btn-lg mx-2 text-light" (click)="projectForm.reset()">Reset</button>
                    <button class="btn btn-info btn-lg" type="submit" [disabled]="projectForm.invalid">Submit</button>
                </div>            
          </div>
        </form>
</div>