<div class="child-2">
    <h2>I am Child component 2</h2>
    <button (click)="formToggle()" class="insert-Btn">Insert Another Record</button><br><br>
    <div *ngIf="tog">
        <form ngModel #getValue="ngForm" (ngSubmit)="sendData(getValue.value)">
            <div class="form-control">
                <label id="label">Enter Your Name : </label>
                <input type="text" [(ngModel)]="name" ngModel name="name" autocomplete="off"/><br><br>
            </div>
            <div class="form-control">
                <label>Enter Your City : </label>
                <input type="text" [(ngModel)]="city" ngModel name="city" autocomplete="off"/><br><br>
            </div>
            <div class="form-control">
                <label>Enter Your Mobile : </label>
                <input type="text" [(ngModel)]="mobile" ngModel name="mobile" autocomplete="off"/><br><br>
            </div>
            <div class="form-control">
                <label>Date and Time : </label>
                <input type="text" [(ngModel)]="date" ngModel name="date" [value]="date" autocomplete="off" readonly/><br><br>
              </div>
            <button type="submit" class="sub-btn">Submit</button><br>
        </form>
    </div>
    <hr>
</div>
