<div class="container">
    <div class="tab-section mt-4 mb-3">
        <ul class="nav nav-tabs">
            <li class="nav-item px-2">
              <a class="nav-link" aria-current="page" [class.active]="tab==true" (click)="tab=true" routerLink="task">Task</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [class.active]="tab==false" (click)="tab=false" routerLink="project">Project</a>
            </li>          
          </ul>
    </div>
    <router-outlet></router-outlet>
    

    
</div>